html {
  overflow-x: hidden;
  font-family: 'Permanent Marker', cursive;
}

html, body { height: 100%; width: 100%; margin: 0; }

body {
  margin-top: -37px;
}

canvas {
  height: 100%;
  width: 100%;
  border: 2px solid gray;
}

.container-fluid {
  margin-top: 3%;
  height: 100%;
}

.cover-heading {
  font-size: 40px;
  padding-bottom: 40px;
}

.lead {
  color: #d6d6d6;
  text-shadow: 1px 1px black;
}

#facebookBtn {
  background-color: #003366;
  color: #dddddd;
  border: 0px;
}

#facebookBtn:hover {
  color: white;
}

.cover-container {
  font-family: 'Roboto Slab', serif;
  font-weight: Thin;
}

.cover-container h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: Bold;
}

.site-wrapper{
  height: 80%;
  position: absolute;
}


/*body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #000;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}
body {
  background: #fff;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}*/

.outer {
  display: table;
}

/*.row {
    overflow: hidden;
}
.row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/


.whiteboard {
  /*float: left;*/
  /*height: 100%;*/
  background-color: white;
  padding: 0px;
  position: relative;
  height: 28em;
  margin-left: 3.4%;
  margin-right: 1.8%;
  /*display: table-cell;*/
  /*height: 30em;*/
  /*border: 2px solid black;*/
}

.codebox {
  /*float: right;*/
  /*margin-bottom: -100px;*/
  /*padding-bottom: -100px;*/
  /*height: 30em;*/
  /*display: table-cell;*/
  height: 28em;
  margin-right: 2.5%;
  padding: 0;
}

.code {
  border: 2px solid gray;
  height: 100%;
}

.chatbox {
  height: 11em;
  padding: 2px;
  /*width: 100%;*/
}

#messages {
  border: 2px solid gray;
  background-color: white;
  height: 8em;
}

#m {
  width: 80%;
  height: 100%;
  position: relative;

}

.board-code {
  background-image: url('../images/slate.png');
}

.submit {
  margin-left: 5px;
}
/*video {
/*  position: fixed;
  /*-webkit-transform: translateX(-50%) translateY(-50%);
  top: 0;
  z-index: -100;
  left: 0;
  min-height: 104%;
  min-width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: cover;
  -webkit-transition: 1.1s opacity;
  transition: 1.1s opacity;
  /*opacity: 0.3;
  -webkit-animation: video 1.1s 1.1s forwards;
  animation: video 1.1s 1.1s forwards;
}
@keyframes video {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
.stopfade {
 opacity: .5;
}
@keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
#header {
  -webkit-animation: header 1.1s 1.1s forwards;
  animation: header 1.1s 1.1s forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  text-align: center;
}
#header {
  margin-top: 14%;
}
#header h1 {
  font-size: 4.35em;
  font-weight: 900;
  margin: 0 0 0.5em 0;
  line-height: 1em;
}
#header p {
  font-size: 1.25em;
  margin: 0.75em 0 1.5em 0;
  opacity: 0.75;
}
button {
  width: 341px;
  height: 50px;
  background-color: white;
  border-width: 2px;
  border-color: white;
  box-shadow: none;
}
button {
  background-color:#ffffff;
  -moz-border-radius:26px;
  -webkit-border-radius:26px;
  border-radius:26px;
  border:2px solid #ededed;
  display:inline-block;
  cursor:pointer;
  /*color:#387ae3;
  font-size:15px;
  padding:8px 56px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
}
button:hover {
  background-color:#ffffff;
}
button:active {
  position:relative;
  top:1px;
}
div.buttons {
  margin-top: 0.4em;
}*/

/* USER PROFILE PAGE */
 .card {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/78/Cork_closeup.jpg);
  background-color: rgba(214, 224, 226, 0.2);
/*    -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 270px;
}
.card-background img {
/*    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);*/
  margin-left: -100px;
  margin-top: -200px;
  max-width: 120%;
}
.card.hovercard .useravatar {
  position: absolute;
  bottom: 25px;
  left: 35px;
}
.card.hovercard .useravatar img {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  height: 230px;
/*  max-width: 170px;
  max-height: 170px;*/
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  border-top: 10px solid rgba(255, 255, 255, 0.95);
  border-left: 10px solid rgba(255, 255, 255, 0.95);
  border-right: 10px solid rgba(255, 255, 255, 0.95);
  border-bottom: 50px solid rgba(255, 255, 255, 0.95);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 35px;
  left: 35px;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);
  font-family: 'Permanent Marker', cursive;
}

.card.hovercard .card-info .card-title {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 100%;
}
.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .paper-info {
  position: absolute;
  bottom: 120px;
  left: 500px;
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}
.thumbtack {
  position: absolute;
  bottom: 215px;
  left: 200px;
}
.thumbtack-paper {
  position: absolute;
  bottom: 205px;
  left: 620px;
}
#thumbtack {
  height: 55px;
}
#paper {
  position: absolute;
  height: 360px;
  width: 460px;
  bottom: -25px;
  left: 400px;
}
.well {
  min-height: 500px;
  font-family: 'Permanent Marker', cursive;
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%
}
.todo {
  left: 400px;
}

