<div class='toolbar'>
  <div class='btn-erase' ng-click="changePen('eraser')">
    <img src="images/pinkeraser.png">
  </div>

  <div class='pens'>
    <div class='palette'>
      <input type="checkbox" value="None" id="black" name="check" checked="checked" ng-click="changePen('black')"/>
      <label for="black"></label>
    </div>
    <div class='palette'>
      <input type="checkbox" value="None" id="red" name="check" ng-click="changePen('red')"/>
      <label for="red"></label>
    </div>
    <div class='palette'>
      <input type="checkbox" value="None" id="blue" name="check" ng-click="changePen('blue')"/>
      <label for="blue"></label>
    </div>
  </div>
  <button class="pure-button new"><a href="/new">New Board</a></button>

  <!-- <button class='btn-tool btn-undo'>Undo</button> -->
</div>
