<div id="user">
  <div class="bookmarks">
    <ul>
      <li ng-repeat="bookmark in bookmarks">{{bookmark.name}}
        <a ng-href="bookmark(bookmark.url)">Go to bookmark</a>
        <a ng-href="/board/{{bookmark.url}}">Go to bookmark</a>
        <button ng-click="getBookmark(bookmark.url)">Go to Board</button>
      </li>
    </ul>
  </div>
  <div class="todo">
    <input type="text" ng-model="bookmarkedboard">
    <button ng-click="createBoard(bookmarkedboard)">New Board</button>
    <ul>
      <li ng-repeat="todo in todos">{{todo}}</li>
    </ul>
  </div>
</div>
